<template>
    <div class="container">
        <div class="row">
            <form class="col-sm-6" id="player" @submit.prevent="loginPj">
                <h1>Joueurs</h1>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Pseudo" aria-label="Username" name="username" v-model="username">
                </div>
                <div class="form-group">
                    <label for="mjs">Les MJs connectés</label>
                    <select name="mj" id="mjs" v-model="choosedMj">
                        <option v-bind:key="mj" v-for="mj in mjs" :value="mj">{{ mj }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
            <form class="col-sm-6" id="mj" @submit.prevent="loginMj">
                <h1>MJ</h1>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Pseudo" aria-label="Username" name="username" v-model="username">
                    <!--<input type="text" class="form-control" placeholder="Mot de passe" aria-label="Password" name="password">-->
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</template>

<script>
    import App from '@/services/App'

    export default {
        name: 'Login',
        data() {
            return {
                username: "",
                choosedMj: "",
                mjs: []
            }
        },
        mounted() {
            this.getMjs()
        },
        methods: {
            async getMjs () {
                const response = await App.fetchMjs()
                this.mjs = response.data
            },
            async loginMj() {
                let ok = await App.loginMj(this.username)
                if(ok){
                    await this.$router.push('mj')
                }
            },
            async loginPj(){
                let ok = await App.loginPj(this.username, this.choosedMj)
                if(ok){
                    await this.$router.push('pj')
                }
            }
        }
    }
</script>

<style>
    #mj {
        border-left: 2px solid lightgrey;
    }
</style>
