<template>
    <div id="allCanvas">
        <canvas id="canvas" style="z-index: -1;"></canvas>
        <canvas id="fog" style="z-index: 1;"></canvas>
    </div>
</template>

<script>

    //import $ from 'jquery'
    import io from 'socket.io-client'
    import * as PIXI from 'pixi.js'

    let token = localStorage.getItem('token')
    export default {
        name: "Map",
        data(){
            return {
                name: this.$route.params.name,
                socket: io(
                    '192.168.43.155:8081/map',
                    {
                        query: {token: token, name: this.$route.params.name}
                    }
                ),
                pixi: {},
                map: {
                    pjs:{},
                    mjs:{},
                    pnjs:{}
                }
            }
        },
        mounted(){
            const self = this

            const canvas = document.querySelector("#canvas")
            const fog = document.querySelector("#fog")
            canvas.width = 1920
            canvas.height = 1080

            fog.width = 1920
            fog.height = 1080


            const ctx = canvas.getContext("2d")
            const fogCtx = fog.getContext("2d")

            fogCtx.fillStyle = '#000000'
            fogCtx.fillRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)

            this.socket.on('update', function(data){
                console.log(data)
                for(let i in data.pjs){
                    if(self.map.pjs[i] === undefined){
                        addSprite(self.pixi, self.map.pjs, i, "pj")
                    }
                    self.map.pjs[i].x = data.pjs[i].x*1.92
                    self.map.pjs[i].y = data.pjs[i].y*1.92

                }

                for(let i in self.map.pjs){
                    if(data.pjs[i] === undefined){
                        self.pixi.stage.removeChild(self.map.pjs[i])
                        self.map.pjs[i] = undefined
                    }
                }

                for(let i in data.pnjs){
                    if(self.map.pnjs[i] === undefined){
                        addSprite(self.pixi, self.map.pnjs, i, "pnj")
                    }
                    self.map.pnjs[i].x = data.pnjs[i].x*1.92
                    self.map.pnjs[i].y = data.pnjs[i].y*1.92

                }

                for(let i in self.map.pnjs){
                    if(data.pnjs[i] === undefined){
                        self.pixi.stage.removeChild(self.map.pnjs[i])
                        self.map.pnjs[i] = undefined
                    }
                }

                for(let i in data.interests){
                    if(self.map.interests[i] === undefined){
                        addSprite(self.pixi, self.map.interests, i, "interest")
                    }
                    self.map.interests[i].x = data.interests[i].x*1.92
                    self.map.interests[i].y = data.interests[i].y*1.92

                }

                for(let i in self.map.interests){
                    if(data.interests[i] === undefined){
                        self.pixi.stage.removeChild(self.map.interests[i])
                        self.map.interests[i] = undefined
                    }
                }

                console.log(data.name, self.map.name)
                if(self.map.name !== data.name) {
                    fogCtx.fillRect(0, 0, fogCtx.canvas.width, fogCtx.canvas.height)
                    ctx.clearRect(0,0,ctx.canvas.width, ctx.canvas.height)
                    let drawing = new Image();
                    drawing.src = data.src; // can also be a remote URL e.g. http://
                    drawing.onload = function() {
                        ctx.drawImage(drawing,0,0, canvas.width,canvas.height)
                    }
                }
                self.map.name = data.name
            })

            this.socket.on('resetFog', function(){
                fogCtx.fillRect(0, 0, fogCtx.canvas.width, fogCtx.canvas.height)
            })




            // let map = this.name

            let drawing = new Image();
            drawing.src = "surface_0.png"; // can also be a remote URL e.g. http://
            drawing.onload = function() {
                ctx.drawImage(drawing,0,0, canvas.width,canvas.height)
            }

            let app = new PIXI.Application({width: 1920, height: 1080, transparent: true})

            document.querySelector('#allCanvas').prepend(app.view)
            app.view.id = "points"
            app.view.style.position = "absolute"
            app.view.style.left = "0"
            this.pixi = app
            //let texture = PIXI.Texture.from('FR-Douanes.svg')
            // const points = document.querySelector('#points')


            this.socket.on('floodFill', function(data){
                for(let u of data){
                    u.x = Math.floor(u.x*1.92)
                    u.y = Math.floor(u.y*1.92)
                }
                floodFill(ctx, fogCtx, data, [255, 0, 0, 0], 100, 50)
            })



        }
    }

    function getPixel(imageData, x, y) {
        if (x < 0 || y < 0 || x >= imageData.width || y >= imageData.height) {
            return [-1, -1, -1, -1];  // impossible color
        } else {
            const offset = (y * imageData.width + x) * 4;
            return imageData.data.slice(offset, offset + 4);
        }
    }

    function setPixel(imageData, x, y, color) {
        const offset = (y * imageData.width + x) * 4;
        imageData.data[offset] = color[0];
        imageData.data[offset + 1] = color[1];
        imageData.data[offset + 2] = color[2];
        imageData.data[offset + 3] = color[3];
    }

    function colorsMatch(a, b, rangeSq) {
        const dr = a[0] - b[0];
        const dg = a[1] - b[1];
        const db = a[2] - b[2];
        const da = a[3] - b[3];
        return dr * dr + dg * dg + db * db + da * da < rangeSq;
    }

    function floodFill(ctx, draw, points, fillColor, radius = 10, range = 1) {
        // read the pixels in the canvas
        const imageData = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height);
        const fogData = draw.getImageData(0,0,ctx.canvas.width, ctx.canvas.height)
        // flags for if we visited a pixel already
        for(let u of points) {
            const visited = new Uint8Array(4 * imageData.width * imageData.height);
            let x0 = u.x
            let y0 = u.y
            // get the color we're filling
            const targetColor = getPixel(imageData, x0, y0);
            // check we are actually filling a different color

            const rangeSq = range * range;
            const radiusSq = radius ** 2
            const pixelsToCheck = [x0, y0];
            while (pixelsToCheck.length > 0) {
                const y = pixelsToCheck.pop();
                const x = pixelsToCheck.pop();
                /*console.log(`x: ${x}, y: ${y}`)
            console.log(distanceSqr(x,y,x0,y0))*/

                const currentColor = getPixel(imageData, x, y);
                if (!visited[y * imageData.width + x] &&
                    !arraysEqual([-1, -1, -1, -1], currentColor) &&
                    colorsMatch(currentColor, targetColor, rangeSq) &&
                    distanceSqr(x, y, x0, y0) <= radiusSq) {
                    setPixel(fogData, x, y, fillColor);
                    visited[y * imageData.width + x] = 1;  // mark we were here already
                    pixelsToCheck.push(x + 1, y);
                    pixelsToCheck.push(x - 1, y);
                    pixelsToCheck.push(x, y + 1);
                    pixelsToCheck.push(x, y - 1);
                }
            }
        }

        // put the data back
        draw.putImageData(fogData, 0, 0);

    }

    function distanceSqr(x0,y0,x1,y1){
        return (x1-x0)**2+(y1-y0)**2
    }

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length !== b.length) return false;

        for (let i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
        return true;
    }

    function addSprite(app, object, name, type){
        let container = new PIXI.Container()
        const graphics = new PIXI.Graphics()
        graphics.lineStyle(3, 0xA0A0A0, 1)
        switch (type) {
            case "pj": graphics.beginFill(0x33CFFF, 1);break;
            case "otherPj": graphics.beginFill(0xFF33E4, 1);break;
            case "pnj": graphics.beginFill(0x00A000, 1);break;
            case "interest":
            default: graphics.beginFill(0xA0A0A0,1)
        }

        graphics.drawCircle(0, 0, 20)
        graphics.endFill()

        const style = new PIXI.TextStyle({
            fontSize: 25,
            fontWeight: 5
        });
        const text = new PIXI.Text(name, style)
        text.anchor.x = 0.5
        text.anchor.y = 0.5
        text.x = 0
        text.y = 0

        container.addChild(graphics)
        container.addChild(text)

        let texture = app.renderer.generateTexture(container,0,1)
        let pj = new PIXI.Sprite(texture)

        pj.x = 100
        pj.y = 100
        pj.anchor.x = 0.5
        pj.anchor.y = 0.5
        pj.type = type
        pj.name = name
        app.stage.addChild(pj)
        object[name] = pj
    }


</script>

<style scoped>
    #allCanvas canvas, #points   {
        position: absolute;left: 0;
    }
</style>
