<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <div id="allCanvas">
                    <canvas id="canvas" style="z-index: -2;"></canvas>
                    <canvas id="fog" style="z-index: -1;"></canvas>
                </div>

                <label for="mapSelect">Choose a map:</label>
                <select name="map" id="mapSelect" @change="changeMap">
                    <option v-for="map in maps" v-bind:key="map" :value="map.name">{{ map.name }}</option>
                </select>

                <label for="interest"></label>
                <input id="interest" type="text">
                <button class="btn btn-primary" @click="resetFog">Reset fog</button>
            </div>
            <div class="col-sm-5">
                <table class="table" id="me">
                    <thead>
                    <tr>
                        <th scope="col">Moi</th>
                        <th scope="col">Temps</th>
                        <th scope="col">Battle</th>
                        <th scope="col">Gestion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ username }}</th>
                        <td>
                            <span class="time">{{ me.time }}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="battle">{{ me.isBattling }}</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="removeTime">-5</button>
                            <button type="button" class="btn btn-primary" id="addTime">+5</button>
                            <button type="button" class="btn btn-primary" id="help">Aide</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table" id="mjs">
                    <thead>
                    <tr>
                        <th scope="col">Qui ?</th>
                        <th scope="col">Temps</th>
                        <th scope="col">Battle</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-bind:key="mj" v-for="mj in mjs">
                            <th>{{ mj.name }}</th>
                            <td>{{ mj.time }}</td>
                            <td>{{ mj.isBattling }}</td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-primary" type="button" id="turnInitiative">Remove 10 initiative</button>

                <table class="table" id="pjs">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">DMG(PHY, STU, MAL)</th>
                        <th scope="col">Initiative</th>
                        <th scope="col">Map</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="pj in me.pjs">
                        <tr v-bind:key="pj">
                        <th><a v-bind:href="'/#/pj/'+pj.name" target="_blank"><button class="btn btn-primary">{{ pj.name }}</button></a></th>
                        <td>{{ pj.damage.physical }}/{{ pj.damage.maxPhysical }}<button class="btn btn-primary" @click="addPhy(-1, $event)">-1</button><button class="btn btn-primary" @click="addPhy(1, $event)">+1</button>{{ pj.damage.stunned }}/{{ pj.damage.maxStunned }}<button class="btn btn-primary" @click="addStu(-1, $event)">-1</button><button class="btn btn-primary" @click="addStu(1, $event)">+1</button>{{ pj.damage.malus }}</td>
                        <td>{{ pj.initiative }}<button class="btn btn-primary" @click="addInit(-5, $event)">-5</button><button class="btn btn-primary" @click="addInit(-1, $event)">-1</button><button class="btn btn-primary" @click="addInit(1,$event)">+1</button><button class="btn btn-primary" @click="addInit(5,$event)">+5</button></td>
                        <td>
                            <select name="maps" @change="changeMapPj">
                                <option v-for="map in maps" :key="map" :value="map.name">{{ map.name }}</option>
                            </select>
                        </td>
                        </tr>
                    </template>
                    <tr v-for="n in 10" v-bind:key="n">
                        <th>
                            <input type="text" style="width: 70px;">
                        </th>
                        <td><span class="phy">0</span>/<input type="text" style="width: 35px;padding:0;"><button class="btn btn-primary" @click="addDumbPhy(-1,$event)">-1</button><button class="btn btn-primary" @click="addDumbPhy(1,$event)">+1</button><span class="stu">0</span>/<input type="text" style="width: 35px;padding:0;"><button class="btn btn-primary" @click="addDumbStu(-1,$event)">-1</button><button class="btn btn-primary" @click="addDumbStu(1,$event)">+1</button><span class="mal">0</span></td>
                        <td><input type="text" style="width: 35px;padding:0;" class="dumb"><button class="btn btn-primary" @click="addDumbInit(-5,$event)">-5</button><button class="btn btn-primary" @click="addDumbInit(-1,$event)">-1</button><button class="btn btn-primary" @click="addDumbInit(1,$event)">+1</button><button class="btn btn-primary" @click="addDumbInit(5,$event)">+5</button></td>
                        <td>Here</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery'
    import io from 'socket.io-client'
    import * as PIXI from 'pixi.js'

    let token = localStorage.getItem('token')

    function removeProperty(obj, ...properties){
        let res = {}
        for(let prop in obj){
            if(obj.hasOwnProperty(prop) && !properties.includes(prop)){
                res[prop] = obj[prop]
            }
        }
        return res
    }
    let dragged = false
    let selfGlobal;
    export default {
        name: 'mapmj',
        data() {
            return {
                username: localStorage.getItem('username'),
                me : {
                    time: 0,
                    isBattling: false,
                    pjs: []
                },
                mjs: [],
                socket: io(
                    '192.168.43.155:8081/mj',
                    {
                        query: {token: token}
                    }
                ),
                socketMap: io(
                    '192.168.43.155:8081/map',
                    {
                        query: {token: token}
                    }
                ),
                dragged: dragged,
                pixi: {},
                map: {
                    pjs:{},
                    mjs:{},
                    pnjs:{}
                },
                maps: [],
            }
        },
        methods: {
            addInit: function(time, event) {
                let name = $(event.target).parent().parent().find('th:nth-child(1)').text()
                this.socket.emit('addInit', {name: name, value: time})
            },
            addPhy: function(dmg, event){
                let name = $(event.target).parent().parent().find('th:nth-child(1)').text()
                this.socket.emit('addPhy', {name: name, value: dmg})
            },
            addStu: function(dmg, event){
                let name = $(event.target).parent().parent().find('th:nth-child(1)').text()
                this.socket.emit('addStu', {name: name, value: dmg})
            },
            addDumbInit: function(init, event) {
                let input = $(event.target).parent().find('input')
                input.val(parseInt(input.val())+init)
            },
            addDumbPhy: function(dmg, event){
                let span = $(event.target).parent().find('span.phy')
                let other = $(event.target).parent().find('span.stu')
                span.text(parseInt(span.text())+dmg)

                let mal = $(event.target).parent().find('span.mal')
                mal.text(""+(Math.floor(parseInt(span.text())/3)+Math.floor(parseInt(other.text())/3)))
            },
            addDumbStu: function(dmg, event){
                let span = $(event.target).parent().find('span.stu')
                let other = $(event.target).parent().find('span.phy')
                span.text(parseInt(span.text())+dmg)
                let mal = $(event.target).parent().find('span.mal')
                mal.text(""+(Math.floor(parseInt(span.text())/3)+Math.floor(parseInt(other.text())/3)))
            },
            changeMap: function(event){

                let map = $(event.target).val()
                this.socketMap.emit('changeMap', map)

                const canvas = document.querySelector("#canvas")
                const ctx = canvas.getContext("2d");

                const fog = document.querySelector("#fog")
                const fogCtx = fog.getContext("2d")
                fogCtx.clearRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)
                fogCtx.fillStyle = '#00000070'
                fogCtx.fillRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)
                ctx.clearRect(0,0,ctx.canvas.width, ctx.canvas.height)



                // deleteAllSprites(this.pixi.stage, this.images.pjs)
                // deleteAllSprites(this.pixi.stage, this.images.pnjs)
                // for(let x of this.me.pjs)
                //     addSprite(this.pixi, this.images.pjs, x.name, false)
            },
            changeMapPj: function(event){
                let name = $(event.target).parent().parent().find('th:nth-child(1)').text()
                this.socketMap.emit('changeMapPj', {name:name, map:$(event.target).val()})
            },
            resetFog: function(){
                const fog = document.querySelector("#fog")
                const fogCtx = fog.getContext("2d")
                fogCtx.clearRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)
                fogCtx.fillStyle = '#00000070'
                fogCtx.fillRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)

                this.socketMap.emit('resetFog')
            }
        },
        mounted() {
            selfGlobal = this
            const self = this

            this.socketMap.on('maps', function(data){
                self.maps = data
            })

            this.socketMap.on('floodFill', function(data){
                console.log('ici')
                floodFill(ctx, fogCtx, data, [255, 0, 0, 0], 50, 50)
            })

            this.socketMap.on('update', function(data){
                for(let i in data.pjs){
                    if(self.map.pjs[i] === undefined){
                        addSprite(self.pixi, self.map.pjs, i, "pj")
                    }
                    self.map.pjs[i].x = data.pjs[i].x
                    self.map.pjs[i].y = data.pjs[i].y

                }

                for(let i in self.map.pjs){
                    if(data.pjs[i] === undefined){
                        self.pixi.stage.removeChild(self.map.pjs[i])
                        self.map.pjs[i] = undefined
                    }
                }

                for(let i in data.pnjs){
                    if(self.map.pnjs[i] === undefined){
                        addSprite(self.pixi, self.map.pnjs, i, "pnj")
                    }
                    self.map.pnjs[i].x = data.pnjs[i].x
                    self.map.pnjs[i].y = data.pnjs[i].y

                }

                for(let i in self.map.pnjs){
                    if(data.pnjs[i] === undefined){
                        self.pixi.stage.removeChild(self.map.pnjs[i])
                        self.map.pnjs[i] = undefined
                    }
                }

                for(let i in data.interests){
                    if(self.map.interests[i] === undefined){
                        addSprite(self.pixi, self.map.interests, i, "interest")
                    }
                    self.map.interests[i].x = data.interests[i].x
                    self.map.interests[i].y = data.interests[i].y

                }

                for(let i in self.map.interests){
                    if(data.interests[i] === undefined){
                        self.pixi.stage.removeChild(self.map.interests[i])
                        self.map.interests[i] = undefined
                    }
                }
                console.log("map", self.map.name, data.name)
                if(self.map.name !== data.name){
                    let drawing = new Image();
                    console.log(data)
                    drawing.src = data.src; // can also be a remote URL e.g. http://
                    drawing.onload = function() {
                        console.log(ctx)
                        ctx.drawImage(drawing,0,0, canvas.width,canvas.height)
                    }
                }
                self.map.name = data.name

            })

            $('input.dumb').each(function(){
                $(this).val(0)
            })

            $('#battle').on('click', () => {
                this.socket.emit('toggleBattling')
            })

            $('#addTime').on('click', () => {
                this.socket.emit('addTime', 5)
            })

            $('#removeTime').on('click', () => {
                this.socket.emit('addTime', -5)
            })

            $('#help').on('click', () => {
                this.socket.emit('help')
            })

            $('#turnInitiative').on('click', ()=>{
                this.socket.emit('turnInit', 10)
                $('input.dumb').each(function () {
                    $(this).val(parseInt($(this).val())-10)
                })
            })


            this.socket.on('update', (data) => {
                this.me = data[this.username]

                this.mjs = Object.values(removeProperty(data, this.username))

            })

            // CANVAS

            const canvas = document.querySelector("#canvas")
            const fog = document.querySelector("#fog")
            canvas.width = 1000
            canvas.height = 563

            fog.width = 1000
            fog.height = 563

            const ctx = canvas.getContext("2d");
            const fogCtx = fog.getContext("2d")

            // Fog
            fogCtx.fillStyle = '#00000070'
            fogCtx.fillRect(0,0,fogCtx.canvas.width, fogCtx.canvas.height)


            ctx.imageSmoothingEnabled = false;

            let drawing = new Image();
            drawing.src = "surface_0.png"; // can also be a remote URL e.g. http://
            drawing.onload = function() {
                ctx.drawImage(drawing,0,0, canvas.width,canvas.height)
            }


            // create pixi canvas
            let app = new PIXI.Application({width: 1000, height: 563, transparent: true})

            document.querySelector('#allCanvas').prepend(app.view)
            app.view.id = "points"
            this.pixi = app
            //let texture = PIXI.Texture.from('FR-Douanes.svg')
            const points = document.querySelector('#points')

            points.addEventListener('mousedown', function(e) {
                function move(ev) {
                    if (!dragged){
                        let pos = getCursorPosition(points, ev)
                        floodFill(ctx, fogCtx, [{x:Math.floor(pos.x), y:Math.floor(pos.y)}], [255, 0, 0, 0], 50, 50)
                        self.socketMap.emit('floodfill', {
                            x: Math.floor(pos.x),
                            y: Math.floor(pos.y)
                        })
                    }
                }
                move(e)
                points.addEventListener('mousemove', move)

                points.addEventListener('mouseup', function(){
                    points.removeEventListener('mousemove', move)
                })

            })


        }
    }


    // CANVAS

    function getPixel(imageData, x, y) {
        if (x < 0 || y < 0 || x >= imageData.width || y >= imageData.height) {
            return [-1, -1, -1, -1];  // impossible color
        } else {
            const offset = (y * imageData.width + x) * 4;
            return imageData.data.slice(offset, offset + 4);
        }
    }

    function setPixel(imageData, x, y, color) {
        const offset = (y * imageData.width + x) * 4;
        imageData.data[offset] = color[0];
        imageData.data[offset + 1] = color[1];
        imageData.data[offset + 2] = color[2];
        imageData.data[offset + 3] = color[3];
    }

    function colorsMatch(a, b, rangeSq) {
        const dr = a[0] - b[0];
        const dg = a[1] - b[1];
        const db = a[2] - b[2];
        const da = a[3] - b[3];
        return dr * dr + dg * dg + db * db + da * da < rangeSq;
    }

    function floodFill(ctx, draw, points, fillColor, radius = 10, range = 1) {
        // read the pixels in the canvas
        const imageData = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height);
        const fogData = draw.getImageData(0,0,ctx.canvas.width, ctx.canvas.height)
        // flags for if we visited a pixel already
        for(let u of points) {
            const visited = new Uint8Array(4 * imageData.width * imageData.height);
            let x0 = u.x
            let y0 = u.y
            // get the color we're filling
            const targetColor = getPixel(imageData, x0, y0);
            // check we are actually filling a different color

            const rangeSq = range * range;
            const radiusSq = radius ** 2
            const pixelsToCheck = [x0, y0];
            while (pixelsToCheck.length > 0) {
                const y = pixelsToCheck.pop();
                const x = pixelsToCheck.pop();
                /*console.log(`x: ${x}, y: ${y}`)
            console.log(distanceSqr(x,y,x0,y0))*/

                const currentColor = getPixel(imageData, x, y);
                if (!visited[y * imageData.width + x] &&
                    !arraysEqual([-1, -1, -1, -1], currentColor) &&
                    colorsMatch(currentColor, targetColor, rangeSq) &&
                    distanceSqr(x, y, x0, y0) <= radiusSq) {
                    setPixel(fogData, x, y, fillColor);
                    visited[y * imageData.width + x] = 1;  // mark we were here already
                    pixelsToCheck.push(x + 1, y);
                    pixelsToCheck.push(x - 1, y);
                    pixelsToCheck.push(x, y + 1);
                    pixelsToCheck.push(x, y - 1);
                }
            }
        }

        // put the data back
        draw.putImageData(fogData, 0, 0);

    }

    function getCursorPosition(canvas, event) {
        const rect = canvas.getBoundingClientRect()
        const x = event.clientX - rect.left
        const y = event.clientY - rect.top
        return {x,y}
    }

    function distanceSqr(x0,y0,x1,y1){
        return (x1-x0)**2+(y1-y0)**2
    }

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length !== b.length) return false;

        for (let i = 0; i < a.length; ++i) {
            if (a[i] !== b[i]) return false;
        }
        return true;
    }

    function addSprite(app, object, name, type){
        let container = new PIXI.Container()
        const graphics = new PIXI.Graphics()
        graphics.lineStyle(3, 0xA0A0A0, 1)
        switch (type) {
            case "pj": graphics.beginFill(0x33CFFF, 1);break;
            case "otherPj": graphics.beginFill(0xFF33E4, 1);break;
            case "pnj": graphics.beginFill(0x00A000, 1);break;
            case "interest":
            default: graphics.beginFill(0xA0A0A0,1)
        }

        graphics.drawCircle(0, 0, 12)
        graphics.endFill()

        const style = new PIXI.TextStyle({
            fontSize: 18,
            fontWeight: 5
        });
        const text = new PIXI.Text(name, style)
        text.anchor.x = 0.5
        text.anchor.y = 0.5
        text.x = 0
        text.y = 0

        container.addChild(graphics)
        container.addChild(text)

        let texture = app.renderer.generateTexture(container,0,1)
        let pj = new PIXI.Sprite(texture)
        pj.interactive = true
        pj.buttonMode = true
        pj
            .on('pointerdown', onDragStart)
            .on('pointerup', onDragEnd)
            .on('pointerupoutside', onDragEnd)
            .on('pointermove', onDragMove)
        pj.x = 100
        pj.y = 100
        pj.anchor.x = 0.5
        pj.anchor.y = 0.5
        pj.type = type
        pj.name = name
        app.stage.addChild(pj)
        object[name] = pj
    }

    /*function deleteAllSprites(stage,sprites){
        for(let x in sprites){
            stage.removeChild(sprites[x])
        }
    }*/

    function onDragStart(event){
        this.data = event.data
        this.alpha = 0.5
        this.dragging = true
        dragged = true
    }
    function onDragEnd(){
        this.alpha = 1
        this.dragging = false
        // set the interaction data to null
        this.data = null
        dragged = false
        selfGlobal.socketMap.emit('updatePos', {
            x: this.x,
            y: this.y,
            name: this.name,
            type: this.type,
            map: selfGlobal.map.name
        })
    }
    function onDragMove(){
        if (this.dragging) {
            const newPosition = this.data.getLocalPosition(this.parent);
            this.x = newPosition.x
            this.y = newPosition.y
        }
    }


</script>

<style scoped>
    #allCanvas *   {
        position: absolute;left: 15px;
    }

    #pjs button {
        padding-left: 8px;
        padding-right: 8px;
    }
</style>

