<template>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Initiative</th>
                <th>Damage physical</th>
                <th>Damage stunned</th>
                <th>Malus</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ pj.name }}</td>
                    <td>{{ pj.initiative }}/<button class="btn btn-primary" @click="setInit($event)">Set init</button><input type="text" style="width: 30px;"></td>
                    <td>{{ pj.damage.physical }}/{{ pj.damage.maxPhysical }}</td>
                    <td>{{ pj.damage.stunned }}/{{ pj.damage.maxStunned }}</td>
                    <td>{{ pj.damage.malus }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table" id="me">

        </table>

        <a v-if="pj.other" v-bind:href="'/#/pj/'+pj.other.name" target="_blank"><button class="btn btn-primary">{{ pj.other.name }}</button></a>
    </div>
</template>

<script>

    import $ from 'jquery'
    import io from 'socket.io-client';

    import 'datatables.net'
    import 'datatables.net-dt/css/jquery.dataTables.min.css'

    let token = localStorage.getItem('token')

    export default {
        name: "PJ",
        data() {
            return {
                username: this.$route.params.name || localStorage.getItem('username'),
                pj : {
                    name: "",
                    enhancements: [],
                    damage: {
                        physical: 0,
                        stunned:0
                    }
                },
                table: {},
                socket: null,
                role: localStorage.getItem('role'),
            }
        },
        methods: {
            setInit: function(event){
                this.socket.emit('setInit', parseInt($(event.target).parent().find('input').val()))
            }
        },
        mounted() {

            this.socket = io(
                '192.168.43.155:8081/pj',
                {
                    query: {token: token, username: this.username}
                }
            )

            this.table = $('#me').DataTable({
                data: dataToArray(this.pj.enhancements),
                columns: [
                    {title: "Nom"},
                    {title: "Position"},
                    {title: "État"},
                    {title: "Détails"}
                ],
                columnDefs: [{
                    targets: [0],
                    orderData: [0, 1]
                }, {
                    targets: [1],
                    orderData: [1, 0]
                }],
                drawCallback: ()=>{
                    if(localStorage.getItem("role") === "mj") {
                        $('#me tbody td:nth-child(3)').each(function () {
                            let el = $(this)
                            if (!el.html().includes("<button")) {
                                el.wrapInner("<button class='btn btn-primary state'></button>")
                            }
                        })

                        let self = this
                        $('button.state').on('click', function () {
                            let name = $(this).parent().parent().find('td:nth-child(1)').text()
                            self.socket.emit('state', {username: self.username, enhancement: name})
                        })
                    }
                }
            })

            //this.socket.emit('subscribe', this.username)

            this.socket.on('update', (data) => {
                this.pj = data
                this.table.clear().rows.add(dataToArray(this.pj.enhancements)).draw()
            })


        }
    }

    function dataToArray(data){
        let res = []
        for(let el of data) {
            let obj = Object.values(el)
            for(let x in obj){
                if(typeof obj[x] === "object"){
                    obj[x] = JSON.stringify(obj[x])
                }
            }
            res.push(obj)
        }
        return res
    }


</script>

<style scoped>

</style>
