<template>
    <div class="container">
        <table id="pnj">
            <!--<thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>-->
        </table>
    </div>
</template>

<script>
    import $ from 'jquery'
    import io from 'socket.io-client'

    const token = localStorage.getItem("token")

    export default {
        name: '',
        data() {
            return {
                pnj: [],
                table: {},
                socket: io(
                    '192.168.43.155:8081/pnj',
                    {
                        query: {token: token}
                    }
                )
            }
        },
        methods: {

        },
        mounted(){
            this.table = $('#pnj').DataTable({
                data: dataToArray(this.pnj),
                columns: [
                    {title: "Nom"},
                    {title: "État"},
                    {title: "?"},
                    {title: "Fonctions"},
                    {title: "?"},
                    {title: "Mental"},
                ],
                columnDefs: [{
                    targets: [0],
                    orderData: [0, 1]
                }, {
                    targets: [1],
                    orderData: [1, 0]
                }, {
                    targets: [2],
                    orderData: [2,1,0]
                }],
                drawCallback: ()=>{
                    $('#pnj tbody td:nth-child(2)').each(function(){
                        let el = $(this)
                        if(!el.html().includes("<button")){
                            el.wrapInner("<button class='btn btn-primary state'></button>")
                        }
                    })
                    let self = this
                    $('button.state').on('click', function(){
                        let name = $(this).parent().parent().find('td:nth-child(1)').text()
                        self.socket.emit('state', name)
                    })
                }
            })

            this.socket.on('update', (data) => {
                this.pnj = data
                this.table.clear().rows.add(dataToArray(this.pnj)).draw()
            })

        }
    }

    function dataToArray(data){
        localStorage.test = JSON.stringify(data)
        let res = []
        for(let el of data) {
            let obj = Object.values(el)
            for(let x in obj){
                if(typeof obj[x] === "object"){
                    obj[x] = JSON.stringify(obj[x])
                }
            }
            res.push(obj)
        }
        console.log(res)
        return res
    }

</script>
