<template>
    <div class="container">
        <p>{{ pj.name }} {{ pj.initiative }}</p>

        <table class="table" id="me">
            <!--<thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Nom</th>
                <th scope="col">Etat</th>
                <th scope="col">Caractéristiques</th>
            </tr>
            </thead>-->
            <!--<tbody>
            <tr v-bind:key="enhancement" v-for="enhancement in pj.enhancements">
                <td>{{ enhancement.location }}</td>
                <td>{{ enhancement.name }}</td>
                <td>{{ enhancement.details }}</td>
            </tr>
            </tbody>-->
        </table>
    </div>
</template>

<script>
    import $ from 'jquery'
    import io from 'socket.io-client';

    import 'datatables.net'
    import 'datatables.net-dt/css/jquery.dataTables.min.css'

    let token = localStorage.getItem('token')

    export default {
        name: 'sheetpj',
        data() {
            return {
                username: localStorage.getItem('username'),
                pj : {
                    name: "",
                    enhancements: []
                },
                table: {},
                socket: io(
                    '192.168.43.155:8081/pj',
                    {
                        query: {token: token}
                    }
                )
            }
        },
        methods: {

        },
        mounted() {

            this.table = $('#me').DataTable({
                data: dataToArray(this.pj.enhancements),
                columns: [
                    {title: "Nom"},
                    {title: "Position"},
                    {title: "État"},
                    {title: "Détails"}
                ],
                columnDefs: [{
                    targets: [0],
                    orderData: [0, 1]
                }, {
                    targets: [1],
                    orderData: [1, 0]
                }],
                drawCallback: ()=>{
                    /*$('#me tbody td:nth-child(3)').each(function(){
                        let el = $(this)
                        if(!el.html().includes("<button")){
                            el.wrapInner("<button class='btn btn-primary state'></button>")
                        }
                    })

                    let self = this
                    $('button.state').on('click', function(){
                        let name = $(this).parent().parent().find('td:nth-child(1)').text()
                        self.socket.emit('state', {username: self.username, enhancement:name})
                    })*/
                }
            })

            //this.socket.emit('subscribe', this.username)

            this.socket.on('update', (data) => {
                this.pj = data
                this.table.clear().rows.add(dataToArray(this.pj.enhancements)).draw()
            })


        }
    }

    function dataToArray(data){
        let res = []
        for(let el of data) {
            let obj = Object.values(el)
            for(let x in obj){
                if(typeof obj[x] === "object"){
                    obj[x] = JSON.stringify(obj[x])
                }
            }
            res.push(obj)
        }
        return res
    }




</script>
